{%- from "templates/print_formats/standard_macros.html" import add_header -%}


{% if doc.period_type == "Quarter" %}
	{% set text01 = _("Quy {0} {1}").format(doc.period_num, doc.year) %}
{% endif %}
{% if doc.period_type == "Month" %}
	{% set text01 = _("Thang {0} {1}").format(doc.period_num, doc.year) %}
{% endif %}

{% if doc.first_time == 1 %}
	{% set text02 = "X" %}
{% endif %}

{% if doc.update_version > 0 %}
	{% set text03 = doc.update_version %}
{% endif %}

{% set text05 = doc.text05 %}
{% set text13 = "" %}

{% if doc.num21 == 1 %}
	{% set num21 = "X" %}
{% endif %}

{% set posting_date = frappe.utils.get_datetime(doc.posting_date) %}


<style>
	h1, .h1, h2, .h2, h3, .h3{ margin: 0}
	hr { margin: 10px auto}
	.print-format{
		padding: 0.2in;
		line-height: 1.7;
		max-width: 11.69in;
	}
	.print-preview{
		max-width: 11.69in;
	}
	.page-portrait{
		max-width: 8.3in;
		margin:0 auto;
	}
	.page-landscape{
		max-width: 11.69in;
		margin:0 auto;
	}
	
	.font-weight-bold{font-weight: bold;}
	.print-format td.no_padding {padding:0 !important}
	.print-format td.middle{ vertical-align: middle !important}
	.print-format .padding td, .print-format td.padding {padding:6 !important}
	.print-format .table_tax td{ width:30px; height:28px; text-align:center; padding:0 !important;vertical-align: middle !important}
	.print-format .tax_form{
		float:right;
		width :200px;
		border: solid 1px;
		position:absolute;
		right:0;
		line-height: 1.5;
	}
	@media screen {
		.page-break {
			padding: 0px 0px;
			margin: 30px 0px;
			border-bottom: 1px dashed #888;
		}
	}
	@media print {
		.print-format{
			font-size:10px;
		}
	}
</style>

{% include "templates/print_format/tax_report_gtgt01.html" %}
<div class="page-break"></div>
{% include "templates/print_format/tax_report_gtgt01_pl01_1.html" %}
<div class="page-break"></div>
{% include "templates/print_format/tax_report_gtgt01_pl01_2.html" %}

<div id="header-html" class="hidden-pdf">
    <div id="variables" style="display:none;">
        <span id="margin-top">7mm</span>
    	<span id="margin-left">0mm</span>
    	<span id="margin-right">0mm</span>
    	<span id="margin-bottom">7mm</span>
    </div>
</div>