{%- from "templates/print_formats/standard_macros.html" import add_header -%}


{% if doc.period_type == "Quarter" %}
	{% set text01 = _("Quy {0} {1}").format(doc.period_num, doc.year) %}
{% endif %}
{% if doc.period_type == "Month" %}
	{% set text01 = _("Thang {0} {1}").format(doc.period_num, doc.year) %}
{% endif %}

{% if doc.first_time == 1 %}
	{% set text02 = "X" %}
{% endif %}

{% if doc.update_version > 0 %}
	{% set text03 = doc.update_version %}
{% endif %}

{% set text05 = doc.text05 %}
{% set text13 = "" %}

{% if doc.num21 == 1 %}
	{% set num21 = "X" %}
{% endif %}

{% set posting_date = frappe.utils.get_datetime(doc.posting_date) %}


<style>
	h1, .h1, h2, .h2, h3, .h3{ margin: 0}
	hr { margin: 10px auto}
	.print-format{
		padding: 0.2in;
		line-height: 1.7;
		max-width: 11.69in;
	}
	.print-preview{
		max-width: 11.69in;
	}
	.page-portrait{
		max-width: 8.3in;
		margin:0 auto;
	}
	.page-landscape{
		max-width: 11.69in;
		margin:0 auto;
	}
	
	.font-weight-bold{font-weight: bold;}
	.print-format td.no_padding {padding:0 !important}
	.print-format td.middle{ vertical-align: middle !important}
	.print-format .padding td, .print-format td.padding {padding:6 !important}
	.print-format .table_tax td{ width:30px; height:28px; text-align:center; padding:0 !important;vertical-align: middle !important}
	.print-format .tax_form{
		float:right;
		width :200px;
		border: solid 1px;
		position:absolute;
		right:0;
		line-height: 1.5;
	}
	@media print {
		.print-format{
			font-size:10px;
		}
	}
</style>
{% include "templates/print_format/tax_report_gtgt01_pl01_1.html" %}
<div class="page-break"></div>

<div class="page-portrait">
<div class="text-center" style="float:left; width:100%; position:relative">
	<div class="text-center tax_form">
		{{ _("mau so") }}
	</div>
	{{ _("cong hoa") }}
	<hr style="width: 30%;">
	<h2>{{ _("to khai thue gia tri gia tang") }}</h2>
	<span style="font-size:95%"><em>{{ _("danh cho theo phuong phap khau tru") }}</em></span>
	<div><strong>[01] {{ _("text01") }} {{ text01 }}</strong></div>
	<div>[02] {{ _("text02") }} [  {{ text02 or '&nbsp;' }} ] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[03]{{ _("text03") }} [ {{ text03 or '&nbsp;' }} ] </div>
</div>
<br>
<table width="100%" style="line-height: 1.1">
	<tr class="font-weight-bold">
		<td colspan="3">[04]{{ _("text04") }}: {{ doc.text04 or '&nbsp;' }}</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td class="no_padding" style="vertical-align: middle !important"><strong>[05]</strong>{{ _("text05") }}:</td>
					<td class="no_padding" width="50px">
					</td>
					<td class="no_padding">
						<table border="1" class="table_tax">
							<tr>
								<td>{{ doc.text05[0] or '&nbsp;' }}</td>
								<td>{{ doc.text05[1] or '&nbsp;' }}</td>
								<td>{{ doc.text05[2] or '&nbsp;' }}</td>
								<td>{{ doc.text05[3] or '&nbsp;' }}</td>
								<td>{{ doc.text05[4] or '&nbsp;' }}</td>
								<td>{{ doc.text05[5] or '&nbsp;' }}</td>
								<td>{{ doc.text05[6] or '&nbsp;' }}</td>
								<td>{{ doc.text05[7] or '&nbsp;' }}</td>
								<td>{{ doc.text05[8] or '&nbsp;' }}</td>
								<td>{{ doc.text05[9] or '&nbsp;' }}</td>
							</tr>
						</table>
					</td>
					<td class="no_padding">
						<table class="table_tax">
							<tr>
								<td>{{ doc.text05[10] or '-' }}</td>
							</tr>
						</table>
					</td>
					<td class="no_padding">
						<table border="1" class="table_tax">
							<tr>
								<td>{{ doc.text05[11] or '&nbsp;' }}</td>
								<td>{{ doc.text05[12] or '&nbsp;' }}</td>
								<td>{{ doc.text05[13] or '&nbsp;' }}</td>
								<td>{{ doc.text05[14] or '&nbsp;' }}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3"><strong>[06]</strong> {{ _("text06") }}: {{ doc.text06 or '&nbsp;' }}</td>
	</tr>
	<tr>
		<td colspan="2"><strong>[07]</strong> {{ _("text07") }}: {{ doc.text07 or '&nbsp;' }}</td>
		<td><strong>[08]</strong> {{ _("text08") }} {{ doc.text08 or '&nbsp;' }}</td>
	</tr>
	<tr>
		<td width="30%"><strong>[09]</strong> {{ _("text09") }}: {{ doc.text09 or '&nbsp;' }}</td>
		<td width="30%"><strong>[10]</strong> {{ _("text10") }}: {{ doc.text10 or '&nbsp;' }}</td>
		<td width="40%"><strong>[11]</strong> {{ _("text11") }}: {{ doc.text11 or '&nbsp;' }}</td>
	</tr>
</table>
<br>
<table width="100%" style="line-height: 1.1">
	<tr class="font-weight-bold">
		<td colspan="3">[12] {{ _("text12") }}: {{ text12 or '' }}</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td class="no_padding" style="vertical-align: middle !important"><strong>[13]</strong> {{ _("text13") }}:</td>
					<td class="no_padding" width="50px">
					</td>
					<td class="no_padding">
						<table border="1" class="table_tax">
							<tr>
								<td>{{ text13[0] or '&nbsp;' }}</td>
								<td>{{ text13[1] or '&nbsp;' }}</td>
								<td>{{ text13[2] or '&nbsp;' }}</td>
								<td>{{ text13[3] or '&nbsp;' }}</td>
								<td>{{ text13[4] or '&nbsp;' }}</td>
								<td>{{ text13[5] or '&nbsp;' }}</td>
								<td>{{ text13[6] or '&nbsp;' }}</td>
								<td>{{ text13[7] or '&nbsp;' }}</td>
								<td>{{ text13[8] or '&nbsp;' }}</td>
								<td>{{ text13[9] or '&nbsp;' }}</td>
							</tr>
						</table>
					</td>
					<td class="no_padding">
						<table class="table_tax">
							<tr>
								<td>{{ text13[10] or '-' }}</td>
							</tr>
						</table>
					</td>
					<td class="no_padding">
						<table border="1" class="table_tax">
							<tr>
								<td>{{ text13[11] or '&nbsp;' }}</td>
								<td>{{ text13[12] or '&nbsp;' }}</td>
								<td>{{ text13[13] or '&nbsp;' }}</td>
								<td>{{ text13[14] or '&nbsp;' }}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3"><strong>[14]</strong> {{ _("text14") }}: {{ text14 or '' }}</td>
	</tr>
	<tr>
		<td colspan="2"><strong>[15]</strong> {{ _("text15") }}: {{ text15 or '' }}</td>
		<td><strong>[16]</strong> {{ _("text16") }}: {{ text16 or '' }}</td>
	</tr>
	<tr>
		<td width="30%"><strong>[17]</strong> {{ _("text17") }}: {{ text17 or '' }}</td>
		<td width="30%"><strong>[18]</strong> {{ _("text18") }}: {{ text18 or '' }}</td>
		<td width="40%"><strong>[19]</strong> {{ _("text19") }}: {{ text19 or '' }}</td>
	</tr>
	<tr>
		<td colspan="2"><strong>[20]</strong> {{ _("text20") }} {{ text20 or '' }}</td>
		<td>{{ _("Ngay") }}:</td>
	</tr>
</table>

<table width="100%">
	<tr>
		<td class="text-right"><i>{{ _("Don vi tien: dong Viet Nam") }}</i></td>
	</tr>
</table>	
<table class="table-bordered">
	<tr>
		<th class="text-center middle">{{ _("STT") }}</th>
		<th colspan="2" class="text-center middle">{{ _("Chi tieu") }}</th>
		<th class="text-center middle">{{ _("Gia tri HDDV (Chua co thue GTGT)") }}</th>
		<th colspan="2" class="text-center middle">{{ _("Thue GTGT") }}</th>
	</tr>
	<tr class="font-weight-bold">
		<td width="4%" class="text-center">A</td>
		<td width="50%">{{ _("text21") }}</td>
		<td width="4%" class="text-center">[21]</td>
		<td width="19%" class="text-center">{{ num21 or '&nbsp;' }}</td>
		<td width="4%"></td>
		<td width="19%"></td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">B</td>
		<td colspan="3">{{ _("text22") }}</td>
		<td class="text-center">[22]</td>
		<td class="text-right">
			{{ doc.get_formatted("num22") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">C</td>
		<td colspan="5">{{ _("textC") }}</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">I</td>
		<td colspan="5">{{ _("textCI") }}</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">1</td>
		<td>{{ _("text23") }}</td>
		<td class="text-center">[23]</td>
		<td class="text-right">
			{{ doc.get_formatted("num23") }}
		</td>
		<td class="text-center">[24]</td>
		<td class="text-right">
			{{ doc.get_formatted("num24") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">2</td>
		<td colspan="3">{{ _("text25") }}</td>
		<td class="text-center">[25]</td>
		<td class="text-right">
			{{ doc.get_formatted("num25") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">II</td>
		<td colspan="5">{{ _("textII") }}</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">1</td>
		<td>{{ _("text26") }}</td>
		<td class="text-center">[26]</td>
		<td class="text-right">
			{{ doc.get_formatted("num26") }}
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">2</td>
		<td>{{ _("text27") }}</td>
		<td class="text-center">[27]</td>
		<td class="text-right">
			{{ doc.get_formatted("num27") }}
		</td>
		<td class="text-center">[28]</td>
		<td class="text-right">
			{{ doc.get_formatted("num28") }}
		</td>
	</tr>
	<tr>
		<td class="text-center">a</td>
		<td>{{ _("text29") }}</td>
		<td class="text-center">[29]</td>
		<td class="text-right">
			{{ doc.get_formatted("num29") }}
		</td>
		<td></td>
		<td class="text-right">
			
		</td>
	</tr>
	<tr>
		<td class="text-center">b</td>
		<td>{{ _("text29") }}</td>
		<td class="text-center">[30]</td>
		<td class="text-right">
			{{ doc.get_formatted("num30") }}
		</td>
		<td class="text-center">[31]</td>
		<td class="text-right">
			{{ doc.get_formatted("num31") }}
		</td>
	</tr>
	<tr>
		<td class="text-center">c</td>
		<td>{{ _("text32") }}</td>
		<td class="text-center">[32]</td>
		<td class="text-right">
			{{ doc.get_formatted("num33") }}
		</td>
		<td class="text-center">[33]</td>
		<td class="text-right">
			{{ doc.get_formatted("num33") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">3</td>
		<td>{{ _("text34") }}</td>
		<td class="text-center">[34]</td>
		<td class="text-right">
			{{ doc.get_formatted("num34") }}
		</td>
		<td class="text-center">[35]</td>
		<td class="text-right">
			{{ doc.get_formatted("num35") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">III</td>
		<td colspan="3">{{ _("text36") }}</td>
		<td class="text-center">[36]</td>
		<td class="text-right">
			{{ doc.get_formatted("num36") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">IV</td>
		<td colspan="5">{{ _("textIV") }}</td>
	</tr>
	<tr>
		<td class="text-center">1</td>
		<td colspan="3">{{ _("text37") }}</td>
		<td class="text-center">[37]</td>
		<td class="text-right">
			{{ doc.get_formatted("num37") }}
		</td>
	</tr>
	<tr>
		<td class="text-center">2</td>
		<td colspan="3">{{ _("text38") }}</td>
		<td class="text-center">[38]</td>
		<td class="text-right">
			{{ doc.get_formatted("num38") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">V</td>
		<td colspan="3">{{ _("text39") }}</td>
		<td class="text-center">[39]</td>
		<td class="text-right">
			{{ doc.get_formatted("num39") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">VI</td>
		<td colspan="5">{{ _("textVI") }}</td>
	</tr>
	<tr>
		<td class="text-center">1</td>
		<td colspan="3">{{ _("text40a") }}</td>
		<td class="text-center">[40a]</td>
		<td class="text-right">
			{{ doc.get_formatted("num40a") }}
		</td>
	</tr>
	<tr>
		<td class="text-center">2</td>
		<td colspan="3">{{ _("text40b") }}</td>
		<td class="text-center">[40b]</td>
		<td class="text-right">
			{{ doc.get_formatted("num40b") }}
		</td>
	</tr>
	<tr>
		<td class="text-center">3</td>
		<td colspan="3">{{ _("text40") }}</td>
		<td class="text-center">[40]</td>
		<td class="text-right">
			{{ doc.get_formatted("num40") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">4</td>
		<td colspan="3">{{ _("text41") }}</td>
		<td class="text-center">[41]</td>
		<td class="text-right">
			{{ doc.get_formatted("num41") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">4.1</td>
		<td colspan="3">{{ _("text42") }}</td>
		<td class="text-center">[42]</td>
		<td class="text-right">
			{{ doc.get_formatted("num42") }}
		</td>
	</tr>
	<tr class="font-weight-bold">
		<td class="text-center">4.2</td>
		<td colspan="3">{{ _("text43") }}</td>
		<td class="text-center">[43]</td>
		<td class="text-right">
			{{ doc.get_formatted("num43") }}
		</td>
	</tr>
</table>	
<br>
<div class="font-weight-bold">
{{ _("toi cam doan") }}
</div>
<table width="100%" style="line-height: 1.1">
	<tr>
		<td width="60%">
				
		</td>
		<td width="40%" class="text-center">
			{{ _("ngay {0} thang {1} nam {2}").format(posting_date.strftime('%d'),posting_date.strftime('%m'),posting_date.strftime('%Y'))  }}
		</td>
	</tr>
	<tr>
		<td class="font-weight-bold">
			{{ _("nhan vien dai ly thue") }}
		</td>
		<td class="font-weight-bold text-center">
			{{ _("nguoi nop thue hoac") }}
		</td>
	</tr>
	<tr>
		<td>
			{{ _("ho va ten") }}: ..............................................................................................   
		</td>
		<td class="font-weight-bold text-center">
			{{ _("dai dien hop phao cua nguoi nop thue") }}
		</td>
	</tr>
	<tr>
		<td>
			{{ _("chung chi hanh nghe so") }}: ..................................................................   
		</td>
		<td class="text-center">
			{{ _("ky ghi ro ho ten chuc vu va dong dau") }}
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</td>
	</tr>
</table>
</div>
<div class="page-break"></div>
<br><br>
{% include "templates/print_format/tax_report_gtgt01_pl01_1.html" %}

<div id="header-html" class="hidden-pdf">
    <div id="variables" style="display:none;">
        <span id="margin-top">7mm</span>
    	<span id="margin-left">0mm</span>
    	<span id="margin-right">0mm</span>
    	<span id="margin-bottom">7mm</span>
    </div>
</div>	



